In [76]:
from functions import convert_excel_to_csv
import pandas as pd

ruta_input = "../file/input/"
ruta_output = "../file/output/"
convert_excel_to_csv(ruta_input, ruta_output)

--- Procesando hoja simple: Detalle_cliente ---
Hoja simple guardada en: Detalle_cliente.csv
--- Procesando hoja simple: Detalle_tx ---
Hoja simple guardada en: Detalle_tx.csv
--- Procesando hoja: SQL ---
✅ Tabla 1 identificada y guardada en: SQL_tabla_1.csv
✅ Tabla 2 identificada y guardada en: SQL_tabla_2.csv
✅ Tabla 3 identificada y guardada en: SQL_tabla_3.csv

True

In [77]:
ruta_output = "../file/output/"
import pandas as pd
df_Detalle_cliente = pd.read_csv(ruta_output+'Detalle_cliente.csv',index_col=False)
df_Detalle_tx = pd.read_csv(ruta_output+'Detalle_tx.csv',index_col=False)

In [78]:
# imprimir columnas de los DataFrames
df_Detalle_cliente.columns = df_Detalle_cliente.columns.str.strip()
df_Detalle_tx.columns = df_Detalle_tx.columns.str.strip()
print("Columnas de Detalle_cliente:")
print(df_Detalle_cliente.columns.tolist())
print("Columnas de Detalle_tx:")
print(df_Detalle_tx.columns.tolist())

Columnas de Detalle_cliente:
['Id_cliente', 'fecha_efectiva', 'Id_tx']
Columnas de Detalle_tx:
['Id_tx', 'clase', 'valor']

In [79]:
# si las dos columnas son exactamente iguales en contenido y orden.
comparacion_exacta = df_Detalle_cliente['Id_tx'].equals(df_Detalle_tx['Id_tx'])

if comparacion_exacta:
    print("¡Perfecto! Las columnas 'Id_tx' son idénticas y están en el mismo orden.")
    df_Detalles = pd.concat([df_Detalle_cliente, df_Detalle_tx.drop('Id_tx', axis=1)], axis=1)

print("Columnas del DataFrame combinado:")
print(df_Detalles.columns.tolist())

¡Perfecto! Las columnas 'Id_tx' son idénticas y están en el mismo orden.
Columnas del DataFrame combinado:
['Id_cliente', 'fecha_efectiva', 'Id_tx', 'clase', 'valor']

In [80]:
df_Detalles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2500 non-null   int64
 1   fecha_efectiva  2488 non-null   float64
 2   Id_tx           2500 non-null   int64
 3   clase           2495 non-null   object
 4   valor           2476 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 97.8+ KB

In [81]:
df_Detalles['valor'] = pd.to_numeric(df_Detalles['valor'], errors='coerce')
df_Detalles['clase'] = df_Detalles['clase'].astype('category')
# Convertir la columna 'fecha_efectiva' a tipo datetime
df_Detalles['fecha_efectiva'] = pd.to_datetime(df_Detalles['fecha_efectiva'], format='%Y%m%d', errors='coerce')
df_Detalles['fecha_efectiva'] = df_Detalles['fecha_efectiva'].dt.date

df_Detalles.describe()

        Id_cliente        Id_tx         valor
count  2500.000000  2500.000000  2.473000e+03
mean    126.040800  6200.070800  3.755023e+05
std      11.125315  2132.009397  5.815877e+05
min      91.000000  2457.000000  2.000000e+01
25%     119.000000  4394.000000  6.150000e+04
50%     126.000000  6140.000000  1.649000e+05
75%     134.000000  8087.250000  4.875090e+05
max     165.000000  9876.000000  7.952039e+06

In [82]:
print(df_Detalles.isnull().sum())

Id_cliente         0
fecha_efectiva    15
Id_tx              0
clase              5
valor             27
dtype: int64

In [83]:
conteo_clase = df_Detalles['clase'].value_counts()
print(conteo_clase)

clase
COMPRA    1931
AVANCE     558
SEGURO       6
Name: count, dtype: int64

In [84]:
df_venta_seguro = df_Detalles[df_Detalles['clase'] == 'SEGURO']
print("Ventas de clase 'SEGURO':")
print(df_venta_seguro)

Ventas de clase 'SEGURO':
      Id_cliente fecha_efectiva  Id_tx   clase     valor
78           126     2020-10-13   7118  SEGURO  229900.0
346          119     2020-10-02   7513  SEGURO   67900.0
557          135     2020-09-07   5101  SEGURO  558957.0
783          140     2020-12-12   5201  SEGURO   15900.0
2220         135     2021-02-27   4336  SEGURO  248163.0
2363         139     2020-10-15   4598  SEGURO  209020.0

In [85]:
df_Detalles = df_Detalles[df_Detalles['clase'] != 'SEGURO']
conteo_clase = df_Detalles['clase'].value_counts()
print(conteo_clase)

clase
COMPRA    1931
AVANCE     558
SEGURO       0
Name: count, dtype: int64

In [86]:
df_Detalles = df_Detalles.dropna()
df_Detalles.describe()

        Id_cliente        Id_tx         valor
count  2449.000000  2449.000000  2.449000e+03
mean    126.108207  6204.238465  3.762481e+05
std      11.125038  2136.828739  5.837163e+05
min      91.000000  2457.000000  2.000000e+01
25%     119.000000  4388.000000  6.149300e+04
50%     126.000000  6147.000000  1.649000e+05
75%     134.000000  8101.000000  4.875090e+05
max     165.000000  9876.000000  7.952039e+06

In [87]:
# Guardar el DataFrame combinado en un nuevo archivo CSV
df_Detalles.to_csv('../data/'+'Detalles_clientes.csv', index=False)