In [1]:
from functions import convert_excel_to_csv
import pandas as pd

ruta_input = "../file/input/"
ruta_output = "../file/output/"
convert_excel_to_csv(ruta_input, ruta_output)

--- Procesando hoja simple: Detalle_cliente ---
Hoja simple guardada en: Detalle_cliente.csv
--- Procesando hoja simple: Detalle_tx ---
Hoja simple guardada en: Detalle_tx.csv
--- Procesando hoja: SQL ---
✅ Tabla 1 identificada y guardada en: SQL_tabla_1.csv
✅ Tabla 2 identificada y guardada en: SQL_tabla_2.csv
✅ Tabla 3 identificada y guardada en: SQL_tabla_3.csv

True

In [2]:
ruta_output = "../file/output/"
import pandas as pd
df_Detalle_cliente = pd.read_csv(ruta_output+'Detalle_cliente.csv',index_col=False)
df_Detalle_tx = pd.read_csv(ruta_output+'Detalle_tx.csv',index_col=False)

In [3]:
df_Detalle_cliente.columns = df_Detalle_cliente.columns.str.strip()
df_Detalle_tx.columns = df_Detalle_tx.columns.str.strip()
print("Columnas de Detalle_cliente:")
print(df_Detalle_cliente.columns.tolist())
print("Columnas de Detalle_tx:")
print(df_Detalle_tx.columns.tolist())

Columnas de Detalle_cliente:
['Id_cliente', 'fecha_efectiva', 'Id_tx']
Columnas de Detalle_tx:
['Id_tx', 'clase', 'valor']

In [4]:
comparacion_exacta = df_Detalle_cliente['Id_tx'].equals(df_Detalle_tx['Id_tx'])

if comparacion_exacta:
    print("¡Perfecto! Las columnas 'Id_tx' son idénticas y están en el mismo orden.")
    df_Detalles = pd.concat([df_Detalle_cliente, df_Detalle_tx.drop('Id_tx', axis=1)], axis=1)

print("Columnas del DataFrame combinado:")
print(df_Detalles.columns.tolist())

¡Perfecto! Las columnas 'Id_tx' son idénticas y están en el mismo orden.
Columnas del DataFrame combinado:
['Id_cliente', 'fecha_efectiva', 'Id_tx', 'clase', 'valor']

In [5]:
df_Detalles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2500 non-null   int64
 1   fecha_efectiva  2488 non-null   float64
 2   Id_tx           2500 non-null   int64
 3   clase           2495 non-null   object
 4   valor           2476 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 97.8+ KB

In [6]:
df_Detalles.describe()

        Id_cliente  fecha_efectiva        Id_tx
count  2500.000000    2.488000e+03  2500.000000
mean    126.040800    2.017161e+07  6200.070800
std      11.125315    8.055480e+05  2132.009397
min      91.000000    2.020000e+03  2457.000000
25%     119.000000    2.020102e+07  4394.000000
50%     126.000000    2.020120e+07  6140.000000
75%     134.000000    2.021012e+07  8087.250000
max     165.000000    2.021031e+07  9876.000000

In [7]:
df_Detalles = df_Detalles.dropna()
df_Detalles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2460 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2460 non-null   int64
 1   fecha_efectiva  2460 non-null   float64
 2   Id_tx           2460 non-null   int64
 3   clase           2460 non-null   object
 4   valor           2460 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 115.3+ KB

In [8]:
no_numericos = df_Detalles[pd.to_numeric(df_Detalles['valor'], errors='coerce').isna()]['valor'].unique()
print("Valores que no se lograrán convertir a tipo numérico:")
print(no_numericos)

Valores que no se lograrán convertir a tipo numérico:
['41f30' '3_8383']

In [9]:
df_Detalles['clase'] = df_Detalles['clase'].astype('category')
df_Detalles['valor'] = pd.to_numeric(df_Detalles['valor'], errors='coerce')
df_Detalles.dropna(subset=['valor'], inplace=True)
df_Detalles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2458 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2458 non-null   int64
 1   fecha_efectiva  2458 non-null   float64
 2   Id_tx           2458 non-null   int64
 3   clase           2458 non-null   category
 4   valor           2458 non-null   float64
dtypes: category(1), float64(2), int64(2)
memory usage: 98.5 KB

In [10]:
conteo_clase = df_Detalles['clase'].value_counts()
print(conteo_clase)

clase
COMPRA    1901
AVANCE     551
SEGURO       6
Name: count, dtype: int64

In [11]:
df_venta_seguro = df_Detalles[df_Detalles['clase'] == 'SEGURO']
print("Ventas de clase 'SEGURO':")
print(df_venta_seguro)

Ventas de clase 'SEGURO':
      Id_cliente  fecha_efectiva  Id_tx   clase     valor
78           126      20201013.0   7118  SEGURO  229900.0
346          119      20201002.0   7513  SEGURO   67900.0
557          135      20200907.0   5101  SEGURO  558957.0
783          140      20201212.0   5201  SEGURO   15900.0
2220         135      20210227.0   4336  SEGURO  248163.0
2363         139      20201015.0   4598  SEGURO  209020.0

In [12]:
df_Detalles = df_Detalles[df_Detalles['clase'] != 'SEGURO']
conteo_clase = df_Detalles['clase'].value_counts()
print(conteo_clase)
# CHequea bien en 2452

clase
COMPRA    1901
AVANCE     551
SEGURO       0
Name: count, dtype: int64

In [13]:
print("--- 1. Análisis de Frecuencia ---")
longitudes = df_Detalles['fecha_efectiva'].astype('Int64').astype(str).str.len()
conteo_digitos = longitudes.value_counts().sort_index()

print("Cantidad de dígitos y frecuencia en 'fecha_efectiva':")
for digitos, cantidad in conteo_digitos.items():
    if digitos != 4:
        print(f"{digitos} dígitos: {cantidad} fechas")

longitud_comun = conteo_digitos[conteo_digitos.index != 4].idxmax()
print(f"\nLongitud más común (válida): {longitud_comun} dígitos")

fechas_como_texto = df_Detalles['fecha_efectiva'].astype('Int64').astype(str)
df_Detalles['fecha_efectiva'] = fechas_como_texto.apply(
    lambda x: int(x) if len(x) == 8 else pd.NA
)
df_Detalles.dropna(subset=['fecha_efectiva'], inplace=True)
df_Detalles.info()

--- 1. Análisis de Frecuencia ---
Cantidad de dígitos y frecuencia en 'fecha_efectiva':
6 dígitos: 2 fechas
8 dígitos: 2448 fechas

Longitud más común (válida): 8 dígitos
<class 'pandas.core.frame.DataFrame'>
Index: 2448 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2448 non-null   int64
 1   fecha_efectiva  2448 non-null   object
 2   Id_tx           2448 non-null   int64
 3   clase           2448 non-null   category
 4   valor           2448 non-null   float64
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 98.1+ KB

In [14]:
df_Detalles.describe()

        Id_cliente        Id_tx         valor
count  2448.000000  2448.000000  2.448000e+03
mean    126.111520  6203.020425  3.758396e+05
std      11.126103  2136.414791  5.834853e+05
min      91.000000  2457.000000  2.000000e+01
25%     119.000000  4387.500000  6.146975e+04
50%     126.000000  6145.500000  1.648445e+05
75%     134.000000  8093.500000  4.851022e+05
max     165.000000  9876.000000  7.952039e+06

In [15]:
df_Detalles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2448 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_cliente      2448 non-null   int64
 1   fecha_efectiva  2448 non-null   object
 2   Id_tx           2448 non-null   int64
 3   clase           2448 non-null   category
 4   valor           2448 non-null   float64
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 98.1+ KB

In [16]:
# Guardar el DataFrame combinado en un nuevo archivo CSV
df_Detalles.to_csv('../data/'+'Detalles_clientes.csv', index=False)