In [53]:
import pandas as pd
import numpy as np
ruta_input = "../data/"
df_Estudiante = pd.read_csv(ruta_input + "Estudiante.csv", sep=",")
df_Ciudad = pd.read_csv(ruta_input + "Ciudad.csv", sep=",")

In [54]:
# Columnas de los dataframes
print("Columnas df_Estudiante:", df_Estudiante.columns.tolist())
print("Columnas df_Ciudad:", df_Ciudad.columns.tolist())

Columnas df_Estudiante: ['ID', 'NOMBREAPELLIDO', 'CODIGOCIUDAD', 'FECHAINGRESO', 'TELEFONO', 'CORREO', 'CARRERA', 'NOMBRECIUDAD', 'CONTACTO_INCOMPLETO']
Columnas df_Ciudad: ['CODIGOCIUDAD', 'NOMBRECIUDAD', 'ESTUDIANTES']

In [55]:
# Primera Pregunta
# Número de estudiantes por ciudad, organizado de mayor a menor
print(df_Ciudad.sort_values(by='ESTUDIANTES', ascending=False)[['NOMBRECIUDAD', 'ESTUDIANTES']])

     NOMBRECIUDAD  ESTUDIANTES
0    Barranquilla          188
1          Bogotá          148
2        Medellín          138
3   Villavicencio           69
4     Santa Marta           68
5       Manizales           67
6           Pasto           67
7       Cartagena           65
8         Rioacha           65
9         Popayán           64
10        Pereira           61
11           Cali            0
12          Neiva            0
13        Armenia            0
14     Valledupar            0

In [56]:
# Cuarta Pregunta
print(df_Ciudad[df_Ciudad['ESTUDIANTES'] == 0]['NOMBRECIUDAD'])

11          Cali
12         Neiva
13       Armenia
14    Valledupar
Name: NOMBRECIUDAD, dtype: object

In [57]:
# fecha de tipo "object" a tipo datetime y extraer el año
df_Estudiante['AÑO_INGRESO'] = pd.to_datetime(df_Estudiante['FECHAINGRESO']).dt.year

# 2. Agrupar por año de ingreso y carrera, y contar los estudiantes.
estudiantes_por_año_carrera = df_Estudiante.groupby(['AÑO_INGRESO', 'CARRERA']).size().reset_index(name='CANTIDAD_ESTUDIANTES')

# 3. Imprimir el resultado
print(estudiantes_por_año_carrera)

    AÑO_INGRESO                     CARRERA  CANTIDAD_ESTUDIANTES
0        2016.0  Administración de empresas                     6
1        2016.0            Ciencia política                    10
2        2016.0                 Estadística                     9
3        2016.0                   Geología                     12
4        2016.0      Ingenieria electrónica                     8
..          ...                         ...                   ...
75       2023.0          Ingenieria química                     8
76       2023.0       Ingeniería Industrial                     6
77       2023.0      Ingeniería de sistemas                    12
78       2023.0        Ingeniería eléctrica                     7
79       2023.0                 Matemáticas                     9

[80 rows x 3 columns]

In [58]:
estudiantes_por_ciudad_carrera = df_Estudiante.groupby(['NOMBRECIUDAD', 'CARRERA']).size().reset_index(name='CANTIDAD_ESTUDIANTES')

# 2. Imprimir el resultado final
print(estudiantes_por_ciudad_carrera)

      NOMBRECIUDAD                     CARRERA  CANTIDAD_ESTUDIANTES
0     Barranquilla  Administración de empresas                    16
1     Barranquilla            Ciencia política                    17
2     Barranquilla                 Estadística                    24
3     Barranquilla                   Geología                     21
4     Barranquilla      Ingenieria electrónica                    18
..             ...                         ...                   ...
105  Villavicencio          Ingenieria química                     8
106  Villavicencio       Ingeniería Industrial                     4
107  Villavicencio      Ingeniería de sistemas                     6
108  Villavicencio        Ingeniería eléctrica                     3
109  Villavicencio                 Matemáticas                    11

[110 rows x 3 columns]

In [59]:
# meses han transcurrido desde la fecha de ingreso a hoy (1/10/2023) por cada estudiate.
fecha_hoy = pd.to_datetime('2023-10-01')
fechas_convertidas = pd.to_datetime(df_Estudiante['FECHAINGRESO'], errors='coerce')
df_Estudiante['MESES_TRANSCURRIDOS'] = (fecha_hoy.year - fechas_convertidas.dt.year) * 12 + \
                                      (fecha_hoy.month - fechas_convertidas.dt.month)
print(df_Estudiante.head(10))

   ID NOMBREAPELLIDO  CODIGOCIUDAD FECHAINGRESO   TELEFONO  \
0   1         EDELKA             1   2019-03-05  2579148.0
1   2           LUAN             5   2019-10-06  3925183.0
2   3         SIOMER             2   2020-03-07  2787650.0
3   4         ZAHORY             2   2019-12-08  3868566.0
4   5       HICTADOR             1   2019-03-09  3047140.0
5   6      ODYULIANA            10   2018-12-10  3123439.0
6   7      MIRIANGEL             4   2020-08-01  3059570.0
7   8        EDWSAIN             2   2019-03-12  3799145.0
8   9         MAIIRA             1   2023-08-01  3349499.0
9  10         BELLCE             6   2020-10-29  3232500.0

                  CORREO                 CARRERA  NOMBRECIUDAD  \
0     edelka@hotmail.com  Ingeniería de sistemas        Bogotá
1       luan@hotmail.com      Ingenieria química  Barranquilla
2     siomer@hotmail.com  Ingeniería de sistemas      Medellín
3     zahory@hotmail.com  Ingeniería de sistemas      Medellín
4   hictador@hotmail.com  Ingeniería de sistemas        Bogotá
5                    NaN             Matemáticas       Popayán
6  mariangel@hotmail.com        Ciencia política     Cartagena
7                    NaN             Estadística      Medellín
8       Lina@hotmail.com  Ingeniería de sistemas        Bogotá
9       bellce@gmail.com        Ciencia política     Manizales

  CONTACTO_INCOMPLETO  AÑO_INGRESO  MESES_TRANSCURRIDOS
0                 NaN       2019.0                 55.0
1                 NaN       2019.0                 48.0
2                 NaN       2020.0                 43.0
3                 NaN       2019.0                 46.0
4                 NaN       2019.0                 55.0
5              CORREO       2018.0                 58.0
6                 NaN       2020.0                 38.0
7              CORREO       2019.0                 55.0
8                 NaN       2023.0                  2.0
9                 NaN       2020.0                 36.0

In [60]:
# 1. Crear una lista con los valores que queremos buscar
valores_incompletos = ['TELEFONO', 'CORREO', 'FECHAINGRESO']

# 2. Usar .isin() para filtrar el DataFrame.
# Esto selecciona todas las filas donde 'CONTACTO_INCOMPLETO' es uno de los valores de la lista.
estudiantes_con_datos_faltantes = df_Estudiante[df_Estudiante['CONTACTO_INCOMPLETO'].isin(valores_incompletos)]

# 3. Imprimir el resultado ordenado por "CONTACTO_INCOMPLETO" para ver a todos los estudiantes identificados
print("Estudiantes con teléfono, correo o fecha de ingreso faltante:")
print(estudiantes_con_datos_faltantes[['ID', 'NOMBREAPELLIDO', 'CONTACTO_INCOMPLETO']].sort_values(by='CONTACTO_INCOMPLETO'))

Estudiantes con teléfono, correo o fecha de ingreso faltante:
      ID NOMBREAPELLIDO CONTACTO_INCOMPLETO
5      6      ODYULIANA              CORREO
7      8        EDWSAIN              CORREO
228  229         NEIYER              CORREO
747  748       KEOPASTY              CORREO
964  965        SORAMAY        FECHAINGRESO
750  751         ALGARO        FECHAINGRESO
309  310        SIBELIA        FECHAINGRESO
521  522         HAYDUK        FECHAINGRESO
155  156        LAURELY        FECHAINGRESO
365  366        MARIAIS            TELEFONO
409  410        ANDIERI            TELEFONO
980  981         MIRLEI            TELEFONO
526  527          LAYNA            TELEFONO
590  591         ALENAY            TELEFONO
632  633           GIME            TELEFONO
232  233        ERCIRIA            TELEFONO
774  775          YABAN            TELEFONO
807  808         OSULAY            TELEFONO
868  869           JHPN            TELEFONO
51    52        DISNERY            TELEFONO
278  279         DREICY            TELEFONO
994  995         JHEDSI            TELEFONO